################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/TfsSharpTR.Core/bin/Debug
/TfsSharpTR.PreBuild/bin/Debug
/TfsSharpTR.UnitTest
