################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/TfsSharpTR.Core/bin/Debug
/TfsSharpTR.Core/obj/Debug
/TfsSharpTR.PreBuild/bin
/TfsSharpTR.PreBuild/obj
/TfsSharpTR.UnitTest
/.vs
/TfsSharpTR.StyleCopRelated/bin
/TfsSharpTR.StyleCopRelated/obj
/TfsSharpTR.AutoDeploy/bin
/TfsSharpTR.AutoDeploy/obj